@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.bgblur
{
  backdrop-filter: blur(4px) !important;
}
.hh .blurBg2
{
  backdrop-filter: blur(8px) !important;
}

.cardWrapper{
  z-index: -9;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

.headingwrapper{
background: #eefaffc3;
background: radial-gradient(circle, rgba(238,255,253,1) 14%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 91%);
z-index: -999;
}


.back {
	background: radial-gradient( #1bb6f9aa, #cbcffdc8, #c4ecfec7, #3649f9d7);
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;
	/* height: 100vh; */
}

.backbutton {
	background-color: radial-gradient( #1bb6f9, #0010bc, #c4ecfe,#5c54f8);
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
