@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.bgblur
{
  backdrop-filter: blur(8px) !important;
}
.hh .blurBg2
{
  backdrop-filter: blur(8px) !important;
}

.cardWrapper{
  z-index: -9;
  clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
}

.headingwrapper{
background: #eefaffc3;
background: radial-gradient(circle, rgba(238,255,253,1) 14%, rgba(255,255,255,1) 88%, rgba(255,255,255,1) 91%);
z-index: -999;
}
.back {
	background: linear-gradient(-45deg, #E1EAF8, #83c3e5cc, hwb(0 100% 0% / 0.411), #7bc0f5c8);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	/* height: 100vh; */
}

.backbutton {
	background: linear-gradient(-45deg, rgb(190,202,250), rgba(153, 171, 255, 0.779), #c2c2c2cc, #7bc0f5c8);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
